@charset "UTF-8";
/*Configurações de modo retrato*/
body{
    background-image: url(../imagens/cev-portrait.jpg);
    background-position: center bottom;
}
footer > p::after{
    content:  "Você está de pé!";
}
footer > p{
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 0px #1627a5;
}
